<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>WEditor</title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <link rel="stylesheet" type="text/css" href="/static/libs/css/buttons.css">
  <link rel="stylesheet" type="text/css" href="/static/libs/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="{{static_url('style.css')}}">
  <!-- jstree -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree@3.3.4/dist/themes/default/style.min.css">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-default" style="margin-bottom: 0px">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WEditor</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!--         <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        </ul> -->
        <form class="navbar-form navbar-left" onsubmit="return false">
          <div class="form-group">
            <select v-model="platform" class="selectpicker" value="Android" title="Platform" data-width="fit">
              <option data-icon="glyphicon-piggy-bank" value="Android">Android</option>
              <option data-icon="glyphicon-apple" value="iOS">iOS</option>
              <option data-icon="glyphicon-apple" value="Neco">Neco(beta)</option>
            </select>
            <input type="text" v-model="serial" class="form-control" v-bind:placeholder="deviceUrl">
          </div>
          <button type="submit" class="btn btn-default" v-on:click="doConnect">
            Connect <span v-if="deviceId" class="glyphicon glyphicon-grain color-green"></span>
          </button>
        </form>
      </div>
    </nav>
    <div id="upper">
      <div id="left">
        <div>
        </div>
        <section id="screen">
          <canvas id="fgCanvas" class="canvas-fg" v-bind:style="canvasStyle"></canvas>
          <canvas id="bgCanvas" class="canvas-bg" v-bind:style="canvasStyle"></canvas>
          <span class="finger finger-0" style="transform: translate3d(200px, 100px, 0px)"></span>
          <img style="z-index: 10" v-if="loading" src="/static/loading.svg">
        </section>
        <section id="footer">
          <button class="btn" @click="keyevent('home')"><i class="fa fa-home"></i> Home</button>
          <button class="btn" @click="keyevent('back')" :disabled="platform.toLowerCase() != 'android'"><i class="fa fa-chevron-left"></i> Back</button>
          <button class="btn" disabled="true">Menu</button>
        </section>
        <div class="horizon-gap"></div>
        <div id="console">
          <img v-if="codeRunning && !console.content" src="/static/running.svg">
          <pre v-text="console.content"></pre>
        </div>
      </div>
      <div id="vertical-gap1" class="handle vertical-gap"></div>

      <div class="middle">
        <div class="panel panel-default middle-panel">
          <div class="panel-heading">
            <i class="fa fa-empire" aria-hidden="true"></i> Selected Element
            <span class="pull-right">
              <button :disabled="loading" class="button button-primary button-tiny button-rounded" v-on:click="screenDumpUI()">
                <i class="fa fa-refresh"></i> Reload
              </button>
            </span>
          </div>
          <div class="panel-body">
            <div class="text-center">
              <button class="btn btn-default btn-sm" :disabled="!nodeSelected" v-on:click="doTap(nodeSelected)">Tap</button>
              <button class="btn btn-default btn-sm" v-on:click="doSendKeys('')">Send Keys</button>
              <!-- <button class="btn btn-default btn-sm" v-on:click="doClear()">Clear Text</button> -->
            </div>
            <label>
              <input type="checkbox" v-model="codeShortFlag"> 精简代码
            </label>
          </div>
          <table class="table table-bordered table-weditor table-condensed">
            <thead>
              <tr>
                <th style="width: 8em">Prop</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="['iOS', 'Neco'].includes(platform)">
                <tr>
                  <td>Name</td>
                  <td v-text="elem.name"></td>
                </tr>
              </template>
              <template v-if="['Neco'].includes(platform)">
                <tr>
                  <td>Tag</td>
                  <td v-text="elem.tag"></td>
                </tr>
                <tr v-if="elem.anchor">
                  <td>Anchor</td>
                  <td>{{!elem.anchor.x}}, {{!elem.anchor.y}}</td>
                </tr>
              </template>
              <tr>
                <td>ClassName</td>
                <td v-text="elem.className || elem.type"></td>
              </tr>
              <template v-if="['Android', 'Neco'].includes(platform)">
                <tr >
                  <td>Description</td>
                  <td v-text="elem.description"></td>
                </tr>
                <tr>
                  <td>Text</td>
                  <td v-text="elem.text"></td>
                </tr>
              </template>
              <template v-if="platform == 'Neco'">
                <tr>
                  <td>Touchable</td>
                  <td v-text="elem.touchable"></td>
                </tr>
              </template>
              <template v-if="platform == 'Android'">
                <tr>
                  <td>ResourceId</td>
                  <td v-text="elem.resourceId"></td>
                </tr>
                <tr>
                  <td>Clickable</td>
                  <td v-text="elem.clickable"></td>
                </tr>
                <tr>
                  <td>PackageName</td>
                  <td v-text="elem.package"></td>
                </tr>
              </template>
              <template v-if="platform == 'iOS'">
                <tr>
                  <td>Label</td>
                  <td v-text="elem.label"></td>
                </tr>
                <tr>
                  <td>X, Y</td>
                  <td>{{!elem.x}}, {{!elem.y}}</td>
                </tr>
                </tr>
                <tr>
                  <td>Width</td>
                  <td v-text="elem.width"></td>
                </tr>
                <tr>
                  <td>Height</td>
                  <td v-text="elem.height"></td>
                </tr>
              </template>
              <tr>
                <td>Enabled</td>
                <td v-text="elem.enabled"></td>
              </tr>
              <tr>
                <td>Visible</td>
                <td v-text="elem.visible"></td>
              </tr>
              <tr>
                <td>XPath(beta)</td>
                <td v-text="elemXpath"></td>
              </tr>
              <tr>
                <td>Position
                  <i @click="showCursorPercent = !showCursorPercent" :class="{'inactive': showCursorPercent}" class="fa fa-percent cursor-pointer" aria-hidden="true"></i>
                </td>
                <td>
                  <span title="双击复制" @dblclick="copyToClipboard('('+cursorValue.x+', '+cursorValue.y+')')">
                    ({{!cursorValue.x}}, {{!cursorValue.y}})
                  </span>
                  <a href="#" @click="doPositionTap(cursorValue.x, cursorValue.y)">点击</a></td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
          <h5>
            Code
          </h5>
          <!-- c9-ide -->
          <input type="text" v-model="generatedCode" class="form-control input-sm">
          <div class="checkbox">
            <label>
              <input v-model="autoCopy" type="checkbox"> 自动复制代码
            </label>
          </div>
          <pre class="editor-container">
            <div id="editor"></div>
          </pre>
          <!-- <div class="panel-body"> -->
          <div>
            <button class="btn btn-default btn-sm" v-if="!codeRunning" v-on:click="codeRunDebugCode(editor.getValue())">运行 <small>Ctrl+Enter</small></button>
            <span class="btn btn-default btn-sm" v-if="codeRunning">运行中</span>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <div class="vertical-gap"></div>
      <div id="right">
        <div class="panel panel-default" style="margin-bottom: 0px; border-bottom: 0px">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-tree-deciduous"></span> Hierarchy
          </div>
        </div>
        <div class="input-group input-group-sm">
          <div class="input-group-btn">
            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
          </div>
          <input id="jstree-search" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
        <div class="box">
          <div id="jstree-hierarchy"></div>
        </div>
      </div>
    </div>

    <!-- alert and dialogs -->
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><span class="color-red"><i class="fa fa-warning"></i> Error</span></h4>
          </div>
          <div class="modal-body">
            <pre v-html="error"></pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="//cdn.jsdelivr.net/g/vue@2.1.10,jquery@3.1.1"></script>
<script src="//cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="/static/ace/ace.js"></script>
<script src="/static/ace/mode-python.js"></script>
<!-- <script src="http://10.240.187.174:8000/_d/js"></script> -->
<script src="//cdn.jsdelivr.net/npm/jstree@3.3.4/dist/jstree.min.js"></script>
<script src="{{static_url('js/common.js')}}"></script>
<script src="{{static_url('js/index.js')}}"></script>

<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-81205425-3', 'auto');
  ga('send', 'pageview');
</script>

</html>